/* Should the body style be moved to the global.css? */

body {
  padding-bottom: 67px;
}

.footer-steps button:focus {
  outline: 0;
}

.nav-footer {
  cursor: pointer;
}

.footer-content {
  div.footer-container {
    background: $blue url('/etc/designs/images/hackathon/ico-footer-closed.gif') no-repeat 5px center;
    min-height: 56px;
    float: left;
    padding-left: 30px;
    width: 62%;
  }
  &.on div.footer-container {
    background: $blue url('/etc/designs/images/hackathon/ico-footer-open.gif') no-repeat 5px center;
  }
  section {
    background: $blue;
    margin: 0 auto;
    min-height: 56px;
    width: 100%;
  }
  h4 {
    color: $offWhite;
    display: inline-block;
    line-height: 34px;
  }
}

.footer-steps {
  display: inline-block;
  float: right;
  margin: 10px 10px 10px 0;
}

.footer-control {
  display: inline-block;
  float: right;
  margin: 10px 10px 10px 0;
  margin-left: 50px;
}

.footer-steps {
  button {
    background: transparent;
    border-radius: 50%;
    color: $yellow;
    display: inline-block;
    height: 32px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 32px;
  }
  .current {
    border: 2px solid $yellow !important;
    color: $yellow !important;
  }
  .completed {
    border: 2px solid $white;
    color: $white;
    cursor: pointer;
  }
  .inactive {
    border: 2px solid $greyC;
    color: $greyC;
    opacity: .2;
  }
}

.panel-group .panel, .panel-default, .panel {
  border: none;
  border-radius: 0;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

.panel-group .panel-default .panel-heading {
  background: $blue;
  border-top: 1px solid $grey9;
  color: $offWhite;
  width: 100%;
  + .panel-collapse .panel-body {
    border-top: none;
    color: $offWhite;
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
  }
}

.panel-collapse {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.panel-group {
  .panel + .panel {
    margin-top: 0;
  }
  margin-bottom: 0;
  clear: both;
  a.edit {
    color: $greyC;
    float: right;
    &:hover {
      color: $greyC;
      float: right;
    }
  }
}

.panel-title {
  margin: 0 auto;
  width: 90%;
}

.panel-heading {
  padding: 10px 0;
}

.panel-group {
  p {
    color: $offWhite;
    margin: 0;
  }
  .panelSubHeading {
    font-weight: bold;
  }
}

.accordion-toggle {
  width: 100%;
  display: block;
  &:hover {
    text-decoration: none;
  }
}
