$white     : #fff;
$offWhite  : #fefefe;
$greyC     : #ccc;
$greyLight : #ddd;
$grey3     : #333;
$grey5     : #555;
$grey7     : #777;
$grey9     : #999;
$blue      : #0060aa;
$blueDark  : #034170;
$pink      : #ffa9a4;
$green     : #c1dcb6;
$yellow    : #fffa00;
