@import "../global/_variables";

body {
  padding-top: 67px;
}

.navbar {
  background-color: $primary-color;
  padding: 5px;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

.hidden-xs .navbar-nav {
  float: right;
}

.navbar-toggle {
  border-color: $nav-background-color;
  color: $nav-background-color;
}

.visible-xs .nav > li {
  border-bottom: 1px solid $nav-secondary-color;
}

.navbar-nav {
  > {
    li > a, a {
      color: $nav-background-color;
    }
  }
  a {
    &:hover, &:focus, &:active {
      color: $primary-color;
      background: $nav-background-color-alt;
    }
  }
}

/* navbar icons
.hidden-xs li.reserve {
  background: url("/etc/designs/images/hackathon/car_seat.png") no-repeat center center;
}
*/