$primary-color: #0060aa;
$secondary-color: #fffa00;
$tertiary-color: #ffffff;
$text-primary-color: #fefefe;
$text-secondary-color: #cccccc;
$nav-primary-color: #034170;
$nav-secondary-color: #999999;
$nav-background-color: #dddddd;